Flask==2.2.2
Flask_Cors==4.0.0
matplotlib==3.8.3
ngrok==1.2.0
numpy==1.26.4
opencv_python_headless==4.9.0.80
paddleocr==2.7.0.3
pandas==2.2.1
Pillow==10.2.0
python-dotenv==1.0.1
pywin32==306
requests==2.31.0
SQLAlchemy==2.0.28
ultralytics==8.1.17
